.addquestion-box {
height: 80vh;
background-color: rgb(243, 242, 240);
display: flex;
flex-direction: column;
align-items: center;
}

.question-input {
    margin-top: 20px;
    width: 50%;
    height: 2.5rem;
    padding: 10px;
}

.btn {
    width: 50%;
    text-align: right;
    margin-top: 10px;
}